body{
    margin: 0px;
}

#mainHeader{
    font-family: "papyrus";
    text-align: center;
    font-size: 45;
    color:black;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
    margin:0px;
    background-size: cover;
}

.mainBody{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}

.row {
    display: flex;
}
  
.picture {
    width: 30%;
}
  
.description {
    width: 70%;
}